<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

    <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
    <script src="static/js/dist/angular-file-upload.min.js"></script>
    <style type="text/css">
        .fill {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .fill-div{
            height: 100%;
        }

        .fill-div-base{
            height: 100vh;
        }

        .background-content{
            background-color:#f9f9f9 ;
        }

        .full-width{
            width: 100%;
        }

    </style>
</head>
<body class="fill">
<div class="row">
    <div class="col-md-4 col-md-offset-4 fill-div-base"></div>
    <div class="col-md-4 col-md-offset-4">
        {% block content %}{% endblock content %}
    </div>
    <div class="col-md-4 col-md-offset-4 fill-div"></div>

</div>
<script src="static/js/app.js"></script>
</body>
</html>
